@charset "UTF-8";
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

h1{
  margin-bottom: 2%;
}
body {
  padding: 50px 0 0;
  font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: #F5F5F5;
}


.gridStyle ul {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: repeat(auto-fit, minmax(300px, 1fr)));
  grid-gap: 3%;
}

.gridStyle ul li{
  display: inline;
  border: 1.5px solid lightgrey;
  border-radius: 5%;
  padding-right: 22%;
  background-color: #FFFFFF;
  margin-bottom: 10%;
}

.gridStyle ul li:hover{
  background-color:#DCDCDC;
}

.gridStyle ul li img {
  border-radius: 50%;
  float:left;
  padding: 3%;
}

.gridStyle ul li h2 {
padding-left: 37%;
  font-size: 20px;
}
.gridStyle ul li p {
padding-left: 37%;
color:#708090;
font-size: 12px;
}

.profiles {
  list-style-type: none;
}
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: lightgrey;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {

  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25%;
}

.modal-content li{
  display: inline;
  margin-left: 25%;
  margin-right: -100%;
  border-radius: 5%;
  border: 1.5px solid lightgrey;
  padding: 20px;
  background-color: #FFFFFF;
}

.modal-content li img {
  border-radius: 50%;



}

.modal-content li h2 {
padding-left: 37%;
  font-size: 20px;
}
.modal-content li p {
padding-left: 37%;
color:#708090;
font-size: 12px;
}











.closebutton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
p {
  font-size: 60%;
}
